
<button class="btn btn-outline-info" routerLink="/projects/add" >Add project</button>
<button class="btn btn-outline-danger"  (click)="add()">Fake project</button>

<div *ngIf="projects.length>0; then projectList else emptyListInfo"></div>
<ng-template #projectList>
<ul>
  <li *ngFor="let project of projects">
    {{project}}
    <button class="btn btn-outline-success">Add task</button>
    <button [routerLink]="project" class="btn btn-outline-dark">Details</button>
  </li>
</ul>
</ng-template>
<ng-template #emptyListInfo>
  <h3 style="color: red">Project list empty</h3>
</ng-template>
<router-outlet></router-outlet>
