<nb-layout>

  <nb-layout-header fixed>
      <nav style="width: 100%;" class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" routerLink="" >Project manager</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" routerLink="projects" routerLinkActive="active">Projects<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="tasks" routerLinkActive="active">Tasks<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="payments" routerLinkActive="active">Payments<span class="sr-only">(current)</span></a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </nav>
  </nb-layout-header>

  <nb-layout-column>

    <div class="container" style="margin-top:20px;">
      <router-outlet></router-outlet>
    </div>

  </nb-layout-column>

  <nb-layout-footer fixed>
    <div>
        <app-projects-stats></app-projects-stats>
    </div>
  </nb-layout-footer>

</nb-layout>
